/* check.module.css*/

/* Header css */
.header {
    width: 100%;
    height: 72px;
    background: #fff;
    border-bottom: 1px solid #ececec;

    display: flex;
    align-items: center;
}

.headerContainer {
    width: 1180px;
    margin: auto;

    display: flex;
    align-items: center;
}

.logoBox {
    width: 40px;
    height: 40px;

    background: #111;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.checkoutText {
    margin-left: 16px;

    font-family: os_semi_bold;
    font-size: 18px;
    font-weight: 600;
    color: #111;
}

.card {
    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 16px;
    padding: 24px;
}

.title {
    font-family: os_semi_bold;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    margin-bottom: 12px;
}

.subtitle {
    font-family: os_regular;
    font-size: 14px;
    line-height: 22px;
    color: #545454;
    margin-bottom: 20px;
}

.loginBtn {
    width: 100%;
    height: 48px;
    background: #6E42E5 !important;
    border-radius: 10px !important;
    text-transform: none !important;
    font-family: os_semi_bold !important;
    font-size: 15px !important;
}

.card {
    display: flex;
    align-items: center;
    gap: 16px;

    background: #fff;
    border: 1px solid #ebebeb;
    border-radius: 16px;

    padding: 20px;
}

.icon {
    color: #0F8A5F;
    font-size: 22px;
}

.card h4 {
    font-family: os_semi_bold;
    font-size: 15px;
    margin-bottom: 4px;
}

.card p {
    font-family: os_regular;
    font-size: 14px;
    color: #545454;
}